body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.login{
    height: 100vh;
    width: 100%;
    /* background-image: url('https://media.istockphoto.com/id/1212010350/photo/busy-modern-open-plan-office-with-staff.webp?b=1&s=170667a&w=0&k=20&c=Wis9cSM8EfW32QooDmvSvN0HfZUVVaboYzh09Apc5Lk=') !important; */
    background-repeat: no-repeat;
    background-size: cover;
}
.loginpic {
    height: 80vh !important;
    width: 100% !important;
    background-repeat: no-repeat !important;
    background-size: cover;
    /* background-image: url('https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8b2ZmaWNlJTIwcGljfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60') !important; */
}
.label{
    color:  #581c87;
    /* margin-top: 2px !important; */

}


.loginBtn:hover{
    background-color: #581c87;
}

.loginIcon{
    top: 25px !important;
    left: 10px !important;
    font-size: 30px !important;
    color: #581c87;
}
.des{
    color: #581c87;

}
.signupinput{
margin-bottom: 12px !important;
padding-left: 60px !important;
}
.form{
    margin-top: 0px !important;
}
.loginText{
    color: #581c87 !important;
}
.signpassInput{
    margin-bottom: 5px !important;
}
.loginInput{
    padding-left: 60px !important;
    margin-top: -10px !important;
    margin-bottom: 30px;
}

.head{
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    position: relative;

}
.image{
        background-image: url('https://media.istockphoto.com/id/1416048929/photo/woman-working-on-laptop-online-checking-emails-and-planning-on-the-internet-while-sitting-in.webp?b=1&s=170667a&w=0&k=20&c=XCzSqjgn02etddi527fy6Q9Dz_MtPYKKc-MMbhS3kK0=');
        height: 300px;
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;
        width: 90%;

}
.heading{
    position: absolute;
    color: black   ;
     text-shadow: 10px 2px solid red;
    flex: 3;
    font-weight: bold;

    top: 90px ;
    left: 12%;
    font-size: 35px;

}
.heading1{
    font-weight: bold;
    font-size: 25px;
    margin-top: 45px;

}
.container{
    width: 80% !important;
}
input{
    width: 50%px;
    height: 40px;
    border: 1px solid black;
 }
 .mainform{
    
    /* background: lightgreen; */
    vertical-align: center;
    justify-content: space-between;
 }
 .mainform > div > input{
    width: 100% !important;
    padding-left: 50px;

    /* margin: 0p auto !important; */
    /* margin: auto !important;  */
 
} 

.parent{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .mainInputContainer{
    margin: 0px auto ;
    width: 100%;
} */
.imgageDiv{
    height: 180px;
    border-radius: 50%;
    position: relative;
    box-sizing: border-box;
    width: 180px;
    border: 5px solid #581c87;

}
.cameraIcon{
    position: absolute;
    bottom: -40px;
    left: 40%;
    color:  #581c87;
    font-size: 35px;
    cursor: pointer;
}
.cameraIcon:active{
    opacity: 0.5;
}
.profileInput{
    width: 400px;
}
.profileInput > input {
    width: 100%;
    padding-left: 50px;
    border-color:  #581c87;
    border-width: 2px;
}
.profileInput > input:focus{
    outline-color: #581c87;
}
.profileIcon{
    font-size: 30px;
    left: 40px;
    top: 5px;
    color: #581c87;
}
.updateBtn{
    background-color :#581c87 ;
    color : whitesmoke;
    font-weight: bold;
    width: 100%;
    padding: 10px 18px;
}
.imageInput{
    display: none;
}
.profilePic{
    border-radius: 50%;
   height: 190px;
       width: 190px;
       position: relative;
       top: -8px;
       object-fit: fill;
}


@media screen and (max-width: 778px) {
    /* CSS rules for screens with a maximum width of 768px or less */
    .loginpic{
        background-image:none;
    }
  }
@media screen and (max-width : 350px){
    .profileInput > input{
        width: 100%;
        margin-left: 0px;
        justify-content: start;
    }
    .profileIcon{
        font-size: 20px;
        top: 10px;
    }
}